body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.eslogan{
    max-width: 500px;
    font-family: 'Sacramento';
    color: white;
    line-height: 1.2;
    font-size: 80px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    margin: -350px 0px 0px 100px;
}

header {
    font-family: "Ubuntu", serif;
    background: #e3f7f5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 50px;
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;
    z-index: 1000;
}

/* Estilo del logo con la imagen */
.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    width: 60px; /* Ajusta el tamaño según necesites */
    height: auto;
    margin-left: 5px;
}

/* Estilo de la navegación */
nav ul {
    list-style: none;
    display: flex;
    align-items: center; 
    padding: 0; 
    margin-left: 25px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: inline-block; 
    line-height:1;
}

/* Banner Slider */
.slider{
    position: relative;
    width: 100%;
    height: 550px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
    
    
}
.slider img{
    width: 100%;
    display: none;
    
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

.galeria {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center; /* Centra las imágenes horizontalmente */
    gap: 20px; /* Espaciado entre imágenes */
    padding: 20px;
}

.item {
    font-family: "Ubuntu", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px; /* Tamaño uniforme */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    background: white;
    text-align: center;
    padding-bottom: 10px; /* Espacio para el texto */
}

.item img {
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0 0;
}

.item p {
    margin: 10px 0 0 0;
    font-weight: bold;
    font-size: 14px;
    
}

.item:hover {
    transform: rotate(-5deg); /* Inclinación al pasar el mouse */
}

h2{
    font-family: "Ubuntu", serif;
    display: flex;
    justify-content: center;
    padding: 0%;
    align-items: center;
    margin-top: 60px;
}

html {
    scroll-behavior: smooth;
}
